In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table

In [2]:
sqlalchemy.__version__

'1.4.46'

In [3]:
path=r"C:\Users\jacob\Downloads\yellow_tripdata_2021-01.csv"

In [4]:
df = pd.read_csv(path, nrows=100)

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
table_name='yellow_taxi_data'
df_iter = pd.read_csv(path, iterator=True, chunksize=100000)
df = next(df_iter)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')
%time df.to_sql(name=table_name, con=engine, if_exists='append')

CPU times: total: 1.64 s
Wall time: 8.58 s

1000

In [9]:
from time import time
while True: 
    t_start = time()

    try: df = next(df_iter)
    except: 
        print("Loop Finished")
        break
        

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name=table_name, con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 9.357 second
inserted another chunk, took 10.246 second
inserted another chunk, took 10.152 second
inserted another chunk, took 9.358 second
inserted another chunk, took 10.170 second
inserted another chunk, took 9.791 second
inserted another chunk, took 9.444 second
inserted another chunk, took 9.462 second
inserted another chunk, took 9.235 second
inserted another chunk, took 8.577 second
inserted another chunk, took 8.349 second

C:\Users\jacob\AppData\Local\Temp\ipykernel_21160\321551836.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  try: df = next(df_iter)

inserted another chunk, took 8.304 second
inserted another chunk, took 5.962 second
Loop Finished

In [6]:
query = """
SELECT max(total_amount) FROM yellow_taxi_data
"""

pd.read_sql(query, con=engine)

       max
0  7661.28

In [26]:
# metadata = MetaData()
# table_to_delete = Table(table_name, metadata, autoload=True, autoload_with=engine)

# # drop the table
# table_to_delete.drop(engine)